/* Ini File CSS */

/* .overall {
    background-color: aqua;
} */

.main-header {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
@media only screen and (max-width: 768px) {
    .main-header {
        flex-direction: column;
        gap: 14px;
    }
  }

.logo-icon {
    height: 30px;
    width: 143.3px;
    background-image: url("/06-jan-25-Azizf26/assets/images/logo.jpg");
    background-size: cover;
}

nav {
    display: flex;
}

@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
}

.left-rounded {
    border-radius: 4px 0 0 4px;
}

.right-rounded {
    border-radius: 0 4px 4px 0;
}

nav>a {
    &:hover {
        background-color: #fc03c2;
        font-weight: bold;
    }
    padding: 8px;
    color: black;
    text-decoration: none;

}

.home-paragraf {
    text-align: justify;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-paragraf {
    width: 50%;
    text-align: justify;
}

.profile-logo {
    width: 50%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .profile {
        flex-direction: column-reverse;
        gap: 8px
    }
    .profile-paragraf {
        width: 100%;
    }
}

.content {
    /* Opsinal */
    height: 500px;
}

.porto-container {
    display: flex;
    justify-content: center;
    padding-left: 100px;
    gap: 40px;
    overflow: auto;
}
@media only screen and (max-width: 768px) {
    .porto-container {
        justify-content: flex-start;
        padding-left: 0px;
    }
}

.porto-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kotak {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    display: flex;
}

.porto-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.project-title {
    text-align: center;

}

.section-box {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
    &.top {
        margin-top: 0px;
    }
}

.form-box {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    gap: 80px;
}


.pilih-kelamin {
    display: flex;
}

.input-name, .input-date, .input-pesan, .button-submit {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
}

.input-pesan {
    height: 100px;
}

.input-label {
    width: 1%;
    white-space: nowrap;
}

.box-label {
    vertical-align: top;
}

.contact-form {
    width: 50%;
    
}

.contact-data {
    width: 50%;
    border: 1px solid black;
    padding: 20px;
}

@media only screen and (max-width: 768px) {
    .form-box {
        flex-direction: column;
        gap: 40px;

    }
    
    .contact-form {
        width: 100%;
    }
    
    .contact-data {
        width: 100%;
    }
}

footer {
    margin-top: 40px;
    text-align: center;
}


/* Slide show */

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}